SPRING_PROFILES_ACTIVE=prod

SPRING_DATASOURCE_URL=jdbc:postgresql://<DB_HOST>:5432/<DB_NAME>
SPRING_DATASOURCE_USERNAME=<DB_USERNAME>
SPRING_DATASOURCE_PASSWORD=<DB_PASSWORD>
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver

SPRING_JPA_HIBERNATE_DDL_AUTO=validate
SPRING_JPA_SHOW_SQL=true
SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=true
SPRING_JPA_PROPERTIES_HIBERNATE_HIGHLIGHT_SQL=true
SPRING_JPA_PROPERTIES_HIBERNATE_DEFAULT_BATCH_FETCH_SIZE=100

JWT_ISSUER=dear-identity-service
JWT_SECRET=<JWT_SECRET>
JWT_ACCESS_TOKEN_EXPIRATION=60m
JWT_REFRESH_TOKEN_EXPIRATION=14d

AUTH_REFRESH_COOKIE_NAME=refreshToken
AUTH_COOKIE_SECURE=true
AUTH_COOKIE_SAME_SITE=Strict
AUTH_COOKIE_PATH=/api/auth

COMMERCE_BASE_URL=http://<COMMERCE_HOST>:8082
IDENTITY_BASE_URL=http://<IDENTITY_HOST>:8081

AES_SECRET_KEY=<AES_SECRET_KEY>
AES_SECRET_IV=<AES_SECRET_IV>